*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: black;
    color: white;
}

.logo{
    width: 150px;
}

.search{
    display: flex;
    gap: 15px;
}
.home{
    display: flex;
    gap: 15px;
}
.library{
    display: flex;
    gap: 15px;
}
.playlist{
    display: flex;
    gap: 15px;
    align-items: center;
}
.likedSongs{
    display: flex;
    gap: 15px;
    align-items: center;
    
}

.focus{
    display: flex;
    justify-content: space-between;
    
}

.playlist i{
    padding: 5px;
    background-color: #b3b3b3;
    border-radius: 3px;
}
.likedSongs i{
    padding: 5px;
    background-color: #6d06a0;;
    border-radius: 3px;

}


.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    width:20%;
    height: 100%;
    padding-bottom: 500px;
   
}

.right{
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}

.container{
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    background: #121212;
    padding: 18px 0px;
    margin: -20px -20px;
    
}

.icons{
    display: flex;
    gap: 30px;
    padding-left: 20px;
    margin-top: 15px;
}

.links{
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

.links button{
  width: 160px;
  height: 30px;
}

#btn1{
    background: transparent;
    color: #b3b3b3;
    border: none;
    cursor: pointer;
}

#btn2{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.bottom{
    background:#181818;
    width: 1100px;
    height: 100%;
    margin: 0px -20px;
    display: flex;
    flex-direction: column;

}

#focus
{
    padding: 20px;
}
#show{
    padding: 20px;
    color: #b3b3b3;
}

.songs img{
    width: 150px;
}

.songs p{
    color: #b3b3b3;
}

.songs{
    background-color:#121212;
    padding: 20px;
    height: 280px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.songs:hover{
    background-color: #333333;
    transform: translateY(-5px);
    transition: 0.3s all ease;
}

.songs-container{
    display: flex;
    gap: 20px;
    padding: 40px
}

.second{
    margin-top: -30px;
}

.sticky{
    position: sticky;
    top: 0;
}

button{
    border: none;
    border-radius: 10px;
    background-color: #121212;
    cursor: pointer;
    color: white;
}

.name{
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.name p{
    color: #b3b3b3;
}

#playing{
    display: flex;
    align-items: center;
    display: none;
    position: sticky;
    bottom: 0;
    padding: 0px 0px;

 
}



.controls h3{
    display: inline-block;
    padding: 10px;
}
.controls{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;


}

.controls i{
    font-size: 20px;
}

p{
    font-size: 0.8rem;
}

#myProgress{
    width: 100vh;
}